*,
*::before,
*::after{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav.container{
    background-color:#F2FCFC ;
    color: #0245A3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;

    .container_logo{
        height: 62.76px;
    width: 328px;
    }

    .navbar{
        width:500px;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;


        &_links{
            width: 100%;
            height: 36px;
            list-style: none;
            display: flex;


        &-item{
            height:100%;
            width: 100%;
        // margin-left: 1rem;
    display: flex;
        justify-content: center;
        align-items: center;
        }
            
        }
    }
}